{
    "Metadata": {
        "Version": "1.0"
    },
    "Info": {
        "Name": "Sample Policy Registry Key"
    },
    "Profiles": {
        "Development": {
            "Shell": {
                "IsFeedbackEnabled": false
            },
            "SourceControl": {
                "CheckInBeforePublish": true
            },
            "Workflow": {
                "AnalyzeOnRun": true,
                "AnalyzeOnPublish": true,
                "DockedAnnotations": false
            },
            "PackageManager": {
                "AllowAddRemoveFeeds": false,
                "AllowEnableDisableFeeds": true,
                "AllowOrchestratorFeeds": true,
                "Feeds": [{
                        "Name": "Official",
                        "Source": "https://www.myget.org/F/workflow/",
                        "IsEnabled": true
                    },
                    {
                        "Name": "UiPath Connect",
                        "Source": "https://gallery.uipath.com/api/v2",
                        "IsEnabled": true
                    },
                    {
                        "Name": "Org Feed",
                        "Source": "C:\\NuGet",
                        "IsEnabled": true
                    }
                ]
            },
            "Analyzer": {
                "AllowEdit": false,
                "ReferencedRulesConfigFile": null,
                "EmbeddedRulesConfig": {
                    "Rules": [{
                            "Id": "ORG-USG-002",
                            "IsEnabled": true,
                            "Parameters": [{
                                    "Name": "configuration",
                                    "Value": "[{Name:\"UiPath.Mail.Activities\", Min:\"1.6.0\", Max:\"1.6.0\"}]"
                                },
                                {
                                    "Name": "allowprerelease",
                                    "Value": null
                                }
                            ],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-MRD-008",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-001",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "Regex",
                                "Value": null
                            }],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-002",
                            "IsEnabled": true,
                            "Parameters": [{
                                    "Name": "InRegex",
                                    "Value": null
                                },
                                {
                                    "Name": "OutRegex",
                                    "Value": null
                                },
                                {
                                    "Name": "InOutRegex",
                                    "Value": null
                                }
                            ],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-004",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "Threshold",
                                "Value": "33333"
                            }],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-005",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-006",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-008",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "Length",
                                "Value": null
                            }],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-011",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-012",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-016",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "Length",
                                "Value": null
                            }],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-SEC-007",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-SEC-008",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "VariableDepthUsage",
                                "Value": null
                            }],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-SEC-009",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-USG-014",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "ProhibitedPackages",
                                "Value": "UiPath.Abbyy.Activities"
                            }],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-USG-026",
                            "IsEnabled": true,
                            "Parameters": [{
                                    "Name": "ProhibitedActivities",
                                    "Value": "*GetOCRText"
                                },
                                {
                                    "Name": "AllowedActivities",
                                    "Value": null
                                }
                            ],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "UI-SEC-010",
                            "IsEnabled": true,
                            "Parameters": [{
                                    "Name": "blacklistApps",
                                    "Value": null
                                },
                                {
                                    "Name": "whitelistApps",
                                    "Value": null
                                },
                                {
                                    "Name": "blacklistUrls",
                                    "Value": "linkedin.com,facebook.com"
                                },
                                {
                                    "Name": "whitelistUrls",
                                    "Value": null
                                }
                            ],
                            "ErrorLevel": "Error"
                        }
                    ],
                    "Counters": [{
                            "Id": "ST-ANA-009",
                            "IsEnabled": true,
                            "Parameters": []
                        },
                        {
                            "Id": "ST-ANA-003",
                            "IsEnabled": true,
                            "Parameters": []
                        }
                    ]
                }
            }
        },
        "StudioPro": {
            "Shell": {
                "IsFeedbackEnabled": false
            },
            "SourceControl": {
                "CheckInBeforePublish": true
            },
            "Workflow": {
                "AnalyzeOnRun": true,
                "AnalyzeOnPublish": true,
                "DockedAnnotations": false
            },
            "PackageManager": {
                "AllowAddRemoveFeeds": false,
                "AllowEnableDisableFeeds": true,
                "AllowOrchestratorFeeds": true,
                "Feeds": [{
                        "Name": "Official",
                        "Source": "https://www.myget.org/F/workflow/",
                        "IsEnabled": true
                    },
                    {
                        "Name": "UiPath Connect",
                        "Source": "https://gallery.uipath.com/api/v2",
                        "IsEnabled": true
                    },
                    {
                        "Name": "Org Feed",
                        "Source": "C:\\NuGet",
                        "IsEnabled": true
                    }
                ]
            },
            "Analyzer": {
                "AllowEdit": false,
                "ReferencedRulesConfigFile": null,
                "EmbeddedRulesConfig": {
                    "Rules": [{
                            "Id": "ORG-USG-002",
                            "IsEnabled": true,
                            "Parameters": [{
                                    "Name": "configuration",
                                    "Value": "[{Name:\"UiPath.Mail.Activities\", Min:\"1.6.0\", Max:\"1.6.0\"}]"
                                },
                                {
                                    "Name": "allowprerelease",
                                    "Value": null
                                }
                            ],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-MRD-008",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-001",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "Regex",
                                "Value": null
                            }],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-002",
                            "IsEnabled": true,
                            "Parameters": [{
                                    "Name": "InRegex",
                                    "Value": null
                                },
                                {
                                    "Name": "OutRegex",
                                    "Value": null
                                },
                                {
                                    "Name": "InOutRegex",
                                    "Value": null
                                }
                            ],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-004",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "Threshold",
                                "Value": "33333"
                            }],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-005",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-006",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-008",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "Length",
                                "Value": null
                            }],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-011",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-012",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-NMG-016",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "Length",
                                "Value": null
                            }],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-SEC-007",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-SEC-008",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "VariableDepthUsage",
                                "Value": null
                            }],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-SEC-009",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-USG-014",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "ProhibitedPackages",
                                "Value": "UiPath.Abbyy.Activities"
                            }],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-USG-026",
                            "IsEnabled": true,
                            "Parameters": [{
                                    "Name": "ProhibitedActivities",
                                    "Value": "*GetOCRText"
                                },
                                {
                                    "Name": "AllowedActivities",
                                    "Value": null
                                }
                            ],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "UI-SEC-010",
                            "IsEnabled": true,
                            "Parameters": [{
                                    "Name": "blacklistApps",
                                    "Value": null
                                },
                                {
                                    "Name": "whitelistApps",
                                    "Value": null
                                },
                                {
                                    "Name": "blacklistUrls",
                                    "Value": "linkedin.com,facebook.com"
                                },
                                {
                                    "Name": "whitelistUrls",
                                    "Value": null
                                }
                            ],
                            "ErrorLevel": "Error"
                        }
                    ],
                    "Counters": [{
                            "Id": "ST-ANA-009",
                            "IsEnabled": true,
                            "Parameters": []
                        },
                        {
                            "Id": "ST-ANA-003",
                            "IsEnabled": true,
                            "Parameters": []
                        }
                    ]
                }
            }
        },
        "Business": {
            "Shell": {
                "IsFeedbackEnabled": false
            },
            "Workflow": {
                "AnalyzeOnRun": true,
                "AnalyzeOnPublish": true,
                "DockedAnnotations": false
            },
            "PackageManager": {
                "AllowAddRemoveFeeds": false,
                "AllowEnableDisableFeeds": false,
                "AllowOrchestratorFeeds": false,
                "Feeds": [{
                        "Name": "Official Feed",
                        "Source": "https://www.myget.org/F/workflow/",
                        "IsEnabled": true
                    },
                    {
                        "Name": "Org Feed",
                        "Source": "C:\\NuGet",
                        "IsEnabled": true
                    }
                ]
            },
            "Analyzer": {
                "AllowEdit": false,
                "ReferencedRulesConfigFile": null,
                "EmbeddedRulesConfig": {
                    "Rules": [{
                            "Id": "MA-DBP-028",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ORG-USG-001",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "configuration",
                                "Value": "Property:*Draft*,Activity:*MailX,Value:True"
                            }],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-DBP-020",
                            "IsEnabled": false,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-MRD-017",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-USG-024",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        },
                        {
                            "Id": "ST-USG-025",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-USG-014",
                            "IsEnabled": true,
                            "Parameters": [{
                                "Name": "ProhibitedPackages",
                                "Value": null
                            }],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "ST-USG-026",
                            "IsEnabled": true,
                            "Parameters": [{
                                    "Name": "ProhibitedActivities",
                                    "Value": null
                                },
                                {
                                    "Name": "AllowedActivities",
                                    "Value": null
                                }
                            ],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "UX-DBP-029",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "UX-SEC-010",
                            "IsEnabled": true,
                            "Parameters": [{
                                    "Name": "blacklistApps",
                                    "Value": null
                                },
                                {
                                    "Name": "whitelistApps",
                                    "Value": "chrome.exe,msedge.exe"
                                },
                                {
                                    "Name": "blacklistUrls",
                                    "Value": null
                                },
                                {
                                    "Name": "whitelistUrls",
                                    "Value": "www.rpasamples.com,uipath.com"
                                }
                            ],
                            "ErrorLevel": "Error"
                        },
                        {
                            "Id": "XL-DBP-027",
                            "IsEnabled": true,
                            "Parameters": [],
                            "ErrorLevel": "Warning"
                        }
                    ],
                    "Counters": [{
                        "Id": "ST-ANA-009",
                        "IsEnabled": true,
                        "Parameters": [],
                        "ApplicableScopes": null
                    }]
                }
            }
        }
    }
}