{
	"Metadata": {
		"Version": "1.0"
	},

	"Info": {
		"Name": "Sample Policy Registry Key"
	},
	"Profiles": {
		"Development": {
			"Shell": {
				"IsFeedbackEnabled": true
			},
			"SourceControl":{
				"CheckInBeforePublish":true
			},
			"Workflow":{
				"AnalyzeOnRun":true,
				"AnalyzeOnPublish":true,
				"DockedAnnotations":true
			},
			"PackageManager": {
				"AllowAddRemoveFeeds": false,
				"AllowEnableDisableFeeds": true,
				"AllowOrchestratorFeeds": true,
				"Feeds": [
					{
						"Name": "Official",
						"Source": "https://www.myget.org/F/workflow/",
						"IsEnabled": true
					},
					{
						"Name": "UiPath Internal",
						"Source": "https://uipath.pkgs.visualstudio.com/Public.Feeds/_packaging/UiPath-Internal/nuget/v3/index.json",
						"IsEnabled": true
					}
					},
					{
						"Name": "Connect Marketplace",
						"Source": "https://gallery.uipath.com/api/v2",
						"IsEnabled": true
					}
				]
			},
			"Analyzer": {
        		"AllowEdit": false,
				"ReferencedRulesConfigFile": null,
				"EmbeddedRulesConfig": {
					"Rules": [
						{
							"Id": "ST-NMG-004",
							"IsEnabled": false,
							"Parameters": [{
								"Name": "Threshold",
								"Value": "33333"
							}],
							"ErrorLevel": "Error"
						},
						{
							"Id": "ST-MRD-008",
							"IsEnabled": true,
							"Parameters": [],
							"ErrorLevel": "Error"
						},
						{
							"Id": "ST-USG-014",
							"IsEnabled": null,
							"Parameters": [
							{
							"Name": "ProhibitedPackages",
							"Value": null
							}
							],
							"ErrorLevel": "Error"
						},
						{
							"Id": "ST-USG-026",
							"IsEnabled": null,
							"Parameters": [
								{
								"Name": "ProhibitedActivities",
								"Value": null
								},
								{
								"Name": "AllowedActivities",
								"Value": null
								}
							],
							"ErrorLevel": "Error"
						},
						{
							"Id": "UI-SEC-010",
							"IsEnabled": true,
							"Parameters": [
								{
								"Name": "blacklistApps",
								"Value": "doubleui"
								},
								{
								"Name": "whitelistApps",
								"Value": null
								},
								{
								"Name": "blacklistUrls",
								"Value": "linkedin.com,facebook.com"
								},
								{
								"Name": "whitelistUrls",
								"Value": null
								}
							],
							"ErrorLevel": "Error"
						},
						{
							"Id": "ORG-USG-001",
							"IsEnabled": true,
							"Parameters": [
								{
								"Name": "configuration",
								"Value": "Property:*Draft*,Activity:*MailX,Value:True"
								}
							],
							"ErrorLevel": "Error"
                        },
						{
							"Id": "ORG-USG-002",
							"IsEnabled": false,
							"Parameters": [
								{
								"Name": "configuration",
								"Value": "[{Name:\"UiPath.Excel.Activities\", MinVersion:\"2.8\", MaxVersion:\"2.8.9\", AllowPrerelease:\"True\"}]"
								},
								{
								"Name": "allowprerelease",
								"Value": "False"
								}
							],
							"ErrorLevel": "Error"
                        }
					],
					"Counters": [{
							"Id": "ST-ANA-009",
							"IsEnabled": true,
							"Parameters": []
						},
						{
							"Id": "ST-ANA-003",
							"IsEnabled": true,
							"Parameters": []
						}
					]
				}
			}
		},
		"Business": {
			"Shell": {
				"IsFeedbackEnabled": false
			},
			"Workflow":{
				"AnalyzeOnRun":true,
				"AnalyzeOnPublish":true,
				"DockedAnnotations":false
			},        
			"PackageManager": {
				"AllowAddRemoveFeeds": false,
				"AllowEnableDisableFeeds": false,
				"AllowOrchestratorFeeds": false,
				"Feeds": [
					{
						"Name": "Official Feed",
						"Source": "https://www.myget.org/F/workflow/",
						"IsEnabled": true
					},
					{
						"Name": "UiPath Internal",
						"Source": "https://uipath.pkgs.visualstudio.com/Public.Feeds/_packaging/UiPath-Internal/nuget/v3/index.json",
						"IsEnabled": true
					}
				]
			},
			"Analyzer": {
				"AllowEdit":false,
				"ReferencedRulesConfigFile": null,
				"EmbeddedRulesConfig": {
					"Rules": [
						{
							"Id": "ST-USG-014",
							"IsEnabled": null,
							"Parameters": [
							{
							"Name": "ProhibitedPackages",
							"Value": null
							}
							],
							"ErrorLevel": "Error"
						},
						{
							"Id": "ST-USG-026",
							"IsEnabled": null,
							"Parameters": [
								{
								"Name": "ProhibitedActivities",
								"Value": null
								},
								{
								"Name": "AllowedActivities",
								"Value": null
								}
							],
							"ErrorLevel": "Error"
						},
						{
							"Id": "UX-SEC-010",
							"IsEnabled": true,
							"Parameters": [
								{
								"Name": "blacklistApps",
								"Value": null
								},
								{
								"Name": "whitelistApps",
								"Value": null
								},
								{
								"Name": "blacklistUrls",
								"Value": null
								},
								{
								"Name": "whitelistUrls",
								"Value": "www.rpasamples.com"
								}
							],
							"ErrorLevel": "Error"
						},
						{
							"Id": "ORG-USG-001",
							"IsEnabled": true,
							"Parameters": [
								{
								"Name": "configuration",
								"Value": "Property:*Draft*,Activity:*MailX,Value:True"
								}
							],
							"ErrorLevel": "Error"
                        },
						{
							"Id": "ORG-USG-002",
							"IsEnabled": false,
							"Parameters": [
								{
								"Name": "configuration",
								"Value": "[{Name:\"UiPath.Excel.Activities\", MinVersion:\"2.8\", MaxVersion:\"2.8.9\", AllowPrerelease:\"True\"}]"
								},
								{
								"Name": "allowprerelease",
								"Value": "False"
								}
							],
							"ErrorLevel": "Error"
                        }
					],
					"Counters": [{
						"Id": "ST-ANA-009",
						"IsEnabled": true,
						"Parameters": [],
						"ApplicableScopes": null
					}]
				}
			}
		}
	}
}