{
	"Metadata": {
		"Version": "1.0"
	},

	"Info": {
		"Name": "Sample Policy Registry Key"
	},
	"Profiles": {
		"Development": {
			
		},
		"Business": {
			"Shell": {
				"IsFeedbackEnabled": false
			},
			"Workflow":{
				"AnalyzeOnRun":true,
				"AnalyzeOnPublish":true,
				"DockedAnnotations":false
			},        
			"PackageManager": {
				"AllowAddRemoveFeeds": false,
				"AllowEnableDisableFeeds": false,
				"AllowOrchestratorFeeds": false,
				"Feeds": [
					{
						"Name": "Official",
						"Source": "https://www.myget.org/F/workflow/",
						"IsEnabled": true
					}
				]
			},
			"Analyzer": {
				"ReferencedRulesConfigFile": null,
				"EmbeddedRulesConfig": {
					"Rules": [
                    {
                        "Id": "UX-SEC-010",
                        "IsEnabled": null,
                        "Parameters": [
                            {
                            "Name": "blacklistApps",
                            "Value": null
                            },
                            {
                            "Name": "whitelistApps",
                            "Value": null
                            },
                            {
                            "Name": "blacklistUrls",
                            "Value": "rpasamples.com/unicornname"
                            },
                            {
                            "Name": "whitelistUrls",
                            "Value": null
                            }
                        ],
                        "ErrorLevel": "Error"
                        }
					],
					"Counters": [{
						"Id": "ST-ANA-009",
						"IsEnabled": true,
						"Parameters": [],
						"ApplicableScopes": null
					}]
				}
			}
		}
	}
}